<ion-header>
  <ion-navbar color="purple">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center margin-top="10px">
        <img src="./assets/img/title.png" width="120px;">
    </ion-title>
  </ion-navbar>
  <ion-navbar color="purple">
      <ion-searchbar 
        [(ngModel)]="searchInput"
        [showCancelButton]="shouldShowCancel"
        (ionCancel)="inputCancel()"
        (search)="search()"
        spellcheck=true>
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="totalcenter">
    <div *ngIf="videos.length<=0" >
      <h2>No Songs Found</h2>
      <p>
         Use the search area to find some one
      </p>      
    </div>
  </div>
  
  
  <ion-list *ngFor="let video of videos.items"> 

    <ion-card text-wrap >

        <ion-item  (click)="play(video)">            
            <p>
                <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                <strong text-wrap> {{video.snippet.title}}</strong>
            </p>
            <p text-right>
                <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                <small text-wrap>{{$.convert2time(video.contentDetails.duration)}}</small>
            </p>
        </ion-item>  
        
        <div  *ngIf="playingId==video.id">
            <hr>
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <audio controls controlsList="nodownload" style="width:100%">
                            <source src="{{urlMp3}}" type="audio/mpeg" >           
                        </audio>
                    </ion-col>                    
                </ion-row>
                <ion-row>
                    <ion-col col-6 text-left> 
                        <button ion-button color="primary" (click)="download(video,urlMp3)" *ngIf="btnDownloadText == 'Download' ">                            
                            {{btnDownloadText}}
                        </button> 
                        <button ion-button color="primary" (click)="download(video,urlMp3)" *ngIf="btnDownloadText != 'Download' " disabled>                            
                            {{btnDownloadText}}
                        </button> 
                    </ion-col>     
                    <ion-col col-6 text-right>  
                        <button ion-button color="danger" (click)="abortDownload()" *ngIf="btnDownloadText != 'Download' ">                            
                            Abort
                        </button>                        
                    </ion-col>
                </ion-row>
            </ion-grid>         
        </div>
        
    </ion-card>


  </ion-list>
  <ion-infinite-scroll (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>  
  
    
</ion-content>


<ion-footer >
    <ion-toolbar color="purple">
        <ion-title text-center>Music Downloader</ion-title>
    </ion-toolbar>
</ion-footer>