<ion-header>
  <ion-navbar color="purple">
    <ion-title text-center>
        <ion-icon name="ios-musical-notes" item-start></ion-icon>
        My Musics
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    <div class="totalcenter" *ngIf="!showList" >
      <h2>Songs</h2>
      <p>
        Here will be the songs downloaded
      </p>
    </div>  

    <div *ngIf="showList" >
        <h2>music list</h2>
    </div>  

    <div class="totalcenter" *ngIf="musicPlaying!=null" >
        <h2>Playing</h2>   
    </div>  
   
  </ion-content>