<ion-header>
    <ion-navbar color="purple">
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>
            <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
             Download List
        </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
        <div class="totalcenter">
          <div *ngIf="downloadProvider.get().length<=0" >
            <h2>No Songs Downloading</h2>
            <p>
               Use the search Page to find some one
            </p>
          </div>
        </div>
        
        <div  *ngIf="downloadProvider.get().length>0">
            <ion-list *ngFor="let item of downloadProvider.stack">                 
                <ion-card text-wrap text-center class="card">        
                  <ion-item >            
                      <p>
                          <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                          <strong text-wrap> {{item.snippet.title}}</strong>
                      </p>
                      <p text-right>
                          <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                          <small text-wrap>{{$.convert2time(item.contentDetails.duration)}}</small>
                      </p>
                    </ion-item>  
                    <progress *ngIf="downloading_id==item.id"  id="progressbar" max="100" value="{{progress}}" style="width:100%"> </progress>                      
                </ion-card>                
            </ion-list>


            <button ion-button round (click)='downloadStack()'>Start</button>
        </div>
      
    
    

      
  </ion-content>
  