<ion-header>
  <ion-navbar color="purple">
      <ion-searchbar 
        [(ngModel)]="searchInput"
        [showCancelButton]="shouldShowCancel"
        (ionCancel)="inputCancel()"
        (ionInput)="search()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="totalcenter">
    <div *ngIf="videos.length<=0" >
      <h2>No Songs Found</h2>
      <p>
         Use the search area to find some one
      </p>
    </div>
  </div>
  
  
  <ion-list *ngFor="let video of videos.items"> 

    <ion-card text-wrap text-center class="card" (click)="play(video)">        
        <ion-item >
            <ion-thumbnail item-start>
              <img src="{{video.snippet.thumbnails.default.url}}">
            </ion-thumbnail>
            <strong text-wrap>{{video.snippet.title}}</strong>
          </ion-item>          
    </ion-card>


  </ion-list>
  <ion-infinite-scroll (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>  
  
    
</ion-content>