<ion-header>
  <ion-navbar color="purple">
    <ion-title text-center>
        <ion-icon name="ios-musical-notes" item-start></ion-icon>
        EzMusic
      </ion-title>
  </ion-navbar>
  <ion-navbar color="purple">
      <ion-searchbar 
        [(ngModel)]="searchInput"
        [showCancelButton]="shouldShowCancel"
        (ionCancel)="inputCancel()"
        (ionInput)="search()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="totalcenter">
    <div *ngIf="videos.length<=0" >
      <h2>No Songs Found</h2>
      <p>
         Use the search area to find some one
      </p>
    </div>
  </div>
  
  
  <ion-list *ngFor="let video of videos.items"> 

    <ion-card text-wrap text-center class="card" (click)="download(video)">        
        <ion-item >            
            <p>
                <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                <strong text-wrap> {{video.snippet.title}}</strong>
            </p>
            <p text-right>
                <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                <small text-wrap>{{$.convert2time(video.contentDetails.duration)}}</small>
            </p>
          </ion-item>  
      <progress *ngIf="downloading_id==video.id"  id="progressbar" max="100" value="{{progress}}" style="width:100%"> </progress>  
    </ion-card>


  </ion-list>
  <ion-infinite-scroll (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>  
  
    
</ion-content>
